

h1 {
    text-align: center;
    color:red;
}

h2 {
    text-align: center;
}

table {
    border-collapse: collapse;
}



td:first-child{
	background-color:#884513
}
h3{
	color:pink;
	background-color:green;

	
}

img {
	width: 120px;
	height:120px;
    border-radius: 50%;
	margin: 10px auto;

	display: block;
	
	
}

a {
    color: blue;
}

